{% extends "portfolio_app/navigation_bar.html" %}
  {% block body_block %}
  {% load staticfiles %}
    <body class="grey_body">

        <div class="container">
          <div class="row">

            <!-- Card 1 -->
            <div class="card col-sm-6 col-md-4 col-lg-5">
              <img src="{% static 'images/blair.jpg' %}" class="card-img-top" alt="Bread Crumb">
              <div class="card-body">
                <h5 class="card-title">Crypto Market Analysis</h5>
                <p class="card-text">BLAIR: Blockchain Logical Artificial Intelligent Research</p>
                <a href="https://academy.cryptotools.live/" class="btn btn-primary">Crypto Tools</a>
              </div>
            </div>

            <!-- Card 2 -->
            <div class="card col-sm-6 col-md-4 col-lg-5">
              <img src="{% static 'images/bread_crumb.jpg' %}" class="card-img-top" alt="Bread Crumb">
              <div class="card-body">
                <h5 class="card-title">Bread Crumb</h5>
                <p class="card-text">Bread Crumb is an easy to use car location app. This app is available on the Apple app store and Google Play.</p>
                <a href="https://apps.apple.com/us/app/bread-crumb-car-locator/id1170751611?ls=1" class="btn btn-primary">Apple App Store</a><br>
                <a href="https://github.com/arolson/BreadCrumb" class="btn btn-primary">Coding Example (iOS)</a>
                <a href="https://play.google.com/store/apps/details?id=net.andrewolson.breadcrumbtwo" class="btn btn-primary">Google Play Store</a><br>
                <a href="https://github.com/arolson/BreadCrumb_Android" class="btn btn-primary">Coding Example (Android)</a>

              </div>
            </div>

            <!-- Card 3 -->
            <div class="card col-sm-6 col-md-4 col-lg-5">
              <img src="{% static 'images/nerd_alert.png' %}" class="card-img-top" alt="Nerd Alert">
              <div class="card-body">
                <h5 class="card-title">Nerd Alert</h5>
                <p class="card-text">
                  Nerd Alert is an iOS dating app designed with the Nerd and Geek culture in mind. This app is available on the Apple app store.<br>
                  <a href="https://arolson56.wixsite.com/nerdalert/eula">Nerd Alert Website</a>
                </p>
                <a href="https://apps.apple.com/us/app/nerd-alert/id1439000941?ls=1" class="btn btn-primary">Apple App Store</a>
              </div>
            </div>

            <!-- Card 4 -->
            <div class="card col-sm-6 col-md-4 col-lg-5">
              <img src="{% static 'images/breach.jpg' %}" class="card-img-top" alt="Technical Analysis">
              <div class="card-body">
                <h5 class="card-title">Open source contributions</h5>
                <p class="card-text">
                  Technical analysis for trading cryptocurrencies.<br>
                </p>
                <a href="https://www.tradingview.com/script/YIj5hrWq-Breach-v3-Beta/" class="btn btn-primary">Tradingview</a>
              </div>
            </div>

            <!-- Card 5 -->
            <div class="card col-sm-6 col-md-4 col-lg-5">
              <img src="{% static 'images/red_folder.jpg' %}" class="card-img-top" alt="Red Folder">
              <div class="card-body">
                <h5 class="card-title">Red Folder</h5>
                <p class="card-text">Emergency contact application for all 23 California State University campuses. This app is available on the Android app store.</p>
                <a href="http://www.latimes.com/local/education/la-me-higher-learning-mental-health-20151110-story.html" class="btn btn-primary">LA Times Article</a>
              </div>
            </div>

            <!-- Card 6 -->
            <div class="card col-sm-6 col-md-4 col-lg-5">
              <img src="{% static 'images/cookie_man.png' %}" class="card-img-top" alt="Cookie Man">
              <div class="card-body">
                <h5 class="card-title">Cookie Man</h5>
                <p class="card-text">Simple 2D game using Gdx and Java. Cookie Man loves cookies but hates carrots.</p>
                <a href="https://github.com/arolson/CookieMan" class="btn btn-primary">Android GitHub</a>
              </div>
            </div>

            <!-- Card 7 -->
            <div class="card col-sm-6 col-md-4 col-lg-5">
              <img src="{% static 'images/space_brigade.png' %}" class="card-img-top" alt="Space Brigade">
              <div class="card-body">
                <h5 class="card-title">Space Brigade</h5>
                <p class="card-text">Fight off hordes of enemy space ships with this simple 2D game using Gdx and Java.</p>
                <a href="https://github.com/arolson/Space-Brigade" class="btn btn-primary">Android GitHub</a>
              </div>
            </div>
          </div>
        </div>
    </body>
  {% endblock %}
