{% extends "portfolio_app/navigation_bar.html" %}
  {% block body_block %}
  {% load staticfiles %}
    <body class="grey_body">

        <div class="container">
          <div class="row">
            <!-- Card 1 -->
            <div class="card col-sm-6 col-md-4 col-lg-5">
              <img src="{% static 'images/nerd_alert.png' %}" class="card-img-top" alt="Nerd Alert">
              <div class="card-body">
                <h5 class="card-title">Nerd Alert</h5>
                <p class="card-text">
                  Nerd Alert is an iOS dating app designed with the Nerd and Geek culture in mind. This app is available on the Apple app store.<br>
                  <a href="https://nerdalert-app.com/">nerdalert-app.com</a>
                </p>
                <a href="https://apps.apple.com/us/app/nerd-alert/id1439000941?ls=1" class="btn btn-primary">App Store</a>
              </div>
            </div>

            <!-- Card 2 -->
            <div class="card col-sm-6 col-md-4 col-lg-5">
              <img src="{% static 'images/bread_crumb.jpg' %}" class="card-img-top" alt="Bread Crumb">
              <div class="card-body">
                <h5 class="card-title">Bread Crumb</h5>
                <p class="card-text">Bread Crumb is an easy to use car location app. This app is available on the Apple app store.</p>
                <a href="https://apps.apple.com/us/app/bread-crumb-car-locator/id1170751611?ls=1" class="btn btn-primary">App Store</a>
              </div>
            </div>

            <!-- Card 3 -->
            <div class="card col-sm-6 col-md-4 col-lg-5">
              <img src="{% static 'images/red_folder.jpg' %}" class="card-img-top" alt="Red Folder">
              <div class="card-body">
                <h5 class="card-title">Red Folder</h5>
                <p class="card-text">Emergency contact application for all 23 California State University campuses. This app is available on the Android app store.</p>
                <a href="https://play.google.com/store/apps/details?id=edu.calstate.redfolder&hl=en_US" class="btn btn-primary">App Store</a>
              </div>
            </div>
          </div>
        </div>
    </body>
  {% endblock %}
